/* ------------Media Querry----------- */
@media only screen and (max-width: 992px){
    .intro{
        background-size: 1300px 150%;
    }
    .intro-text{
        margin-top: 25%;
        font-size: 25px;
    }
    .intro-text h1{
        font-size: 40px;
    }
    nav ul{
        background-color: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    nav .fa{
        display: block;
        font-size: 25px;
    }
}

@media only screen and (max-width: 768px){
    .intro{
        background-image: url("../Assets/Image/Baground-Logo-Short.jpg") !important;
        background-size: 550px 140%;
        padding-left: 20px;
    }
    .intro-text{
        margin-top: 30%;
        font-size: 20px;
    }
    .intro-text h1{
        font-size: 30px;
    }
}

@media only screen and  (max-width: 600px){
    .intro{
        height: 80vh;
        background-image: url("../Assets/Image/Baground-Logo-Short.jpg") !important;
        background-size: 500px 140%;
        background-position: right;
        background-position-y: 0px;
        padding-left: 10px;
    }
    .intro-text{
        margin-top: 30%;
        font-size: 15px;
    }
    .intro-text p{
        font-size: small;
    }
    .intro-text h1{
        font-size: 20px;
    }
    .about-col-1{
        flex-basis: 45%;
    }
    .about-col-2{
        flex-basis: 50%;
        width: 90%;
        padding-right: 20px;
        padding-left: 20px;
    }
    h1{
        font-size: 28px !important;
    }
}

@media only screen and  (max-width: 425px){
    .intro{
        height: 60vh;
        background-image: url("../Assets/Image/Baground-Logo-Short.jpg") !important;
        background-size: 400px 180%;
        background-position: right;
        background-position-y: 0px;
        padding-left: 10px;
    }
    .intro-text p{
        font-size: smaller;
    }
    .intro-text h1{
        font-size: 15px;
    }
    .intro-text{
        margin-top: 30%;
        font-size: 12px;
    }
    #about{
        padding: 50px 0px;
    }
    .tab-titles>p{
        margin-right: 10px;
        font-size: 15px;
        color: #ff004f;
    }
    .tab-titles>p:active{
        color: white;
    }
    .about-col-1{
        flex-basis: 100%;
    }
    .about-col-2{
        flex-basis: 100%;
        padding: 0;
    }
    .about-col-2 li{
        font-size: small;
    }
    .about-col-2>p{
        font-size: small;
    }
    .work{
        width: 300px;
        height: 400px;
    }
    .layer{
        padding: 0px 5px;
    }
    .layer p{
        font-size: 10px;
    }
    h1{
        font-size: 25px !important;
    }
    .intro-text h1{
        font-size: 16px !important;
        margin-left: 0px;
    }
    .contact-left{
        flex-basis: 100%;
    }
    .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: small;
    }
}
@media only screen and  (max-width: 375px){
    .intro{
        height: 60vh;
        background-image: url("../Assets/Image/Baground-Logo-Short.jpg") !important;
        background-size: 400px 200%;
        background-position: right;
        background-position-y: 0px;
        padding-left: 5px;
    }
    .intro-text p{
        font-size: xx-small;
    }
    .intro-text h1{
        font-size: 12px;
    }
    .intro-text{
        margin-top: 30%;
        font-size: 12px;
    }
    .work{
        width: 250px;
        height: 350px;
    }
    h1{
        font-size: 25px !important;
    }
    .intro-text h1{
        font-size: 16px !important;
        margin-left: 0px;
    }
}
@media only screen and  (max-width: 320px){
    .intro{
        background-size: 300px 120%;
    }
    .intro-text{
        margin-top: 40%;
        font-size: 12px;
    }
    .intro-text p{
        font-size: 8px;
    }
    .work{
        width: 200px;
        height: 300px;
    }
}